body {
  background-color: lightgray;
}
h1 {
  text-align: center;
  font-family: 'Berkshire Swash', cursive;
    font-size: 50px;

}
.flaxbox {
	display: flex;
   direction: row;
   justify-content: space-between;
   align-content: center;
   width: 100%;
}

.flexbox article {
    width: 49%;
    display: inline-block;
    padding: 30px 0px 30px 15px;
    font-size: 15px;

}

article:last-of-type {
  margin-top: 67px;

}

article img {
	height: 240px;
	display:inline-block;

}
article h2 {
	font-size:30px;
}

.item {
	display: flex;
   direction: row;
   justify-content: space-between;
   align-content: center;
   width: 100%;
}

.item article {
     width: 42%;
    display: inline-block;
    padding: 30px 0px 30px 15px;
    font-size: 15px;
    justify-content: space-between;
}




.conflicts img {  
   width: 49%;
   height: auto;
   float: left;
   padding: 5px 2px;
   
}

article.conflicts .object3 {
	width: 100%;
	display: block;
	height: auto;
	justify-content: space-between;
	padding-bottom: 7px;
}

article.col-2 {
	width: 56%;
}

article p {
  font-family: 'Open Sans', sans-serif;
  line-height: 21px;
}

.item1 article {
  width: 42%;
  
  padding: 30px 0px 30px 15px;
  font-size: 15px;
  justify-content: space-between;
}
article.col-3 {
  width: 56%;

}
.flexbox {
display: flex;
}
.game img {
  height: 326px; 
}





#object1.jpg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}


}

#object1.jpg:hover {opacity: 0.7;}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 100%;
    max-width: 900px;
    height: auto;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption { 
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}